@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Quicksand', system-ui, sans-serif;
      overflow-x: hidden;
    }
  }

@media only screen and (max-width: 768px) {
  .navbar-med {
    display: none;
  }
  

}

@media only screen and (min-width: 768px) {
  .navbar-hamburger{
    display: none;
  }
}